[build]
  publish = "_site"
  command = "npm install && npm run build && cp _redirects _site/_redirects"

[build.environment]
  NODE_VERSION = "18"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    X-Content-Type-Options = "nosniff"
