[build]
  publish = "_site"
  command = "cp _redirects _site/_redirects && npm install && npm run build && cp _redirects _site/_redirects"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    X-Content-Type-Options = "nosniff"
